.cell {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.cell:hover {
border: 1px solid #333;
}

.even {
  background-color: #fff;
}

.odd {
  background-color: #ddd;
}

.firstClick {
  border: 2px solid teal;
}
