.tool {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;
}

.tool:hover {
    background: #ccc;
}
.active {
    background: #ccc;
    border: 2px solid #000;
}