body {
  height: 100vh;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 20px;
}

.tool {
  padding: 10px;
  border: 1px solid #000;
}
